---
layout: default
title: Subhash Talluri | Research & Publications
---
<h3><i><b><span style="color:brown"><font size="4">Thought Leadership</font></span></b></i></h3>
<br>

<!-- original, no link posts

<ul class="posts">
  {% for post in site.posts limit:15 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
-->

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}</a></li>
  {% endfor %}
</ul>
<hr>

<h3><i><b><span style="color:brown"><font size="4">Patents</font></span></b></i></h3>
<br>
<ul>
    
    <li> Patent pending (filed & accepted) – Selective data transfer utilizing network feature representation learning </li>
     
</ul>
<hr><br>


<h3><i><b><span style="color:brown"><font size="4">AI Research</font></span></b></i></h3>
<br>
<ul>
    
    <li> <a href="https://ieeexplore.ieee.org/document/10154302"> A Cloud-Native Federated Learning Architecture for Telecom Fraud Detection</a>. IEEE NOMS (Network Operations and Management Symposium), May 2023  </li>
    <li> <a href="https://ieeexplore.ieee.org/abstract/document/10278745"> Reinforcement Learning-based Multi-domain Network Slice Control</a>. IEEE ICC (International Conference on Communications), June 2023.</li>
    
   
</ul>
<hr><br>

<h3><i><b><span style="color:brown"><font size="4">Published Articles</font></span></b></i></h3>
<br>
<ul>
    <li> <a href="https://pytorch.org/blog/amazon-sagemaker-w-torchserve/"> Accelerate AI models on GPU using Amazon SageMaker multi-model endpoints with TorchServe, saving up to 75% on inference costs</a>. PyTorch. January 9th, 2024  </li>
    <li> <a href="https://aws.amazon.com/blogs/industries/opportunities-for-telecoms-with-small-language-models/"> Opportunities for telecoms with small language models: Insights from AWS and Meta</a>. AWS Industries Blog. September 25th, 2024  </li>
   
</ul>
<hr><br>