<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
              
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="140px" height="196px">
                </div>
                <div class="contact">
                  Lead Data Scientist<br>
                  DS & AI Practice  <br>
                  <a href="https://www.capgemini.com/">Capgemini Inc.</a>, Georgia <br>
                  Previous: <a href="http://www.cyient.com//">Cyient Inc.</a> & <a href="http://www.pwc.ca/">Pratt & Whitney Canada</a> <br>
                  <br>
                  Email: <a href="mailto:subhash.talluri@outlook.com">subhash.talluri@outlook.com</a> <br>
                  GitHub: <a href="https://github.com/subhashtalluri">subhashtalluri</a> <br>
                  <a href="https://www.linkedin.com/in/subhashtalluri/">LinkedIn</a> <br>
                </div>
              </div>
                    
              
              <div class="homecontent">
                <b><span style="color:brown"><font size="4">Brief Bio</font></span></b> <br>
                With experience in engineering and data science, I am uniquely positioned as a data scientist for aerospace, automotive, manufacturing
                and industrial IoT domain. I bring cross functional expertise at the intersection of mechanical engineering, computer science, big data, statistics and business to provide quality and scalable solutions. Some of my interests include: 
                <br>
                <br>
                <ul>
                  <li>Predictive maintenance of aerospace, mechanical & industrial systems </li>
                  <li>Sensor, Image & video analytics for infrastructure monitoring </li>
                  <li>Bridging the gap between physics based modeling and data driven modeling</li>
                  <li>Building model agnostic explanations for black box ML methods in engineering </li>
                </ul>
                <br>
                <b><span style="color:brown"><font size="4">Career Aspiration</font></span></b> <br>
                I like to position myself as a full stack data scientist but we know its a lie. Such unicorns do not exist. However, there is an alternative strategy. There are essentialy five elements to a data scientist: data engineering, data visualization, machine learning, big data and cloud computing. I aim to be a specilist in two of these areas (machine learning, cloud computing) and a generalist in the other three. This allows me to handle the complete data lifecycle. From identifying the right problem, translating the problem in terms of data, getting the data, building the pipelines, analysing data, building models, presenting findings and putting models in production, I aspire to handle it all.  
                    
                <br>
                <br>  
                  
                <b><span style="color:brown"><font size="4">Profile At-A-Glance</font></span></b> <br>
                I hold a master's degree (MS) in computer science from <a href="http://illinois.edu/">University of Illinois Urbana Champaign</a> and a master of engineering (M Eng) degree in aerospace science from <a href="http://www.utias.utoronto.ca/">University of Toronto Institute for Aerospace Studies.</a> Before graduate studies I completed bachelor's in mechanical engineering from JNT University, India.  
                <br>
                <br>
                In the past I have worked with <a href="http://www.pwc.ca/">Pratt & Whitney Canada</a> as a materials & structures specialist for turbine engines involved in design, stress analysis, thermal analysis, dynamic analysis, impact analysis, fracture mechanics, fatigue life evaluation, MRB activities, structural testing & root cause investigations. I have a solid understanding of product lifecycle management in a manufacturing setting from cradle to grave. 
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
