<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="container">
            <div class="site">
                {% include header.html %}
                
                <div class="content">
                    <div class="banner">
                        <div class="photo">
                            <img src="/assets/me.jpg" alt="Subhash Talluri" style="width: 200px; height: 196px; border-radius: 10%;">
                        </div>
                        <div class="contact">
                            <p>ML Solutions Architect, Amazon Web Services (AWS)</p>
                            <p>Business Development, Go-To-Market, Pre-Sales, Technical Leadership - Strategy, Execution, and Delivery </p>
                            <p>Email: <a href="mailto:subhash.talluri@outlook.com">subhash.talluri@outlook.com</a></p>
                            <p>GitHub: <a href="https://github.com/subhashtalluri">subhashtalluri</a></p>
                            <p>Hugging Face: <a href="https://huggingface.co/subhashtalluri">subhashtalluri</a></p>
                            <p>Linkedin: <a href="https://www.linkedin.com/in/subhashtalluri/">subhashtalluri</a></p>
                        </div>
                    </div>
                    
                    <div class="homecontent">
                        <h2 style="color: brown;">Brief Bio</h2>
                        <p>I have 14+ years of combined industry and machine learning experience, 7+ years specializing in developing ML solutions for multiple industry verticals. 
                           I focus on building production grade ML solutions using scalable, secure, and compliant cloud-optimized architectures. 
                           My focus areas are AI/ML solution architectures, AWS cloud architectures, language model customization, AI research, MLOps, and ML Infrastructure. I help customers design machine learning solutions, evangelize AI/ML best practices, and supports business development in driving cloud adoption across enterprise customers.</p>
                        
                        <h2 style="color: brown;">Career Aspiration</h2>
                        <p>With over 14 years of experience working with customers, system integrators, and cloud providers, I’ve seen firsthand the challenges of integrating data science and ML into business. 
                            Many organizations struggle to move beyond the proof-of-concept. I aim to guide businesses in maximizing the return on their AI investments. 
                            </p>
                    </div>
                </div>
                
                <div class="sidebar"></div>
                
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
