<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
              
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/me.jpg" width="160px" height="196px">
                </div>
                <div class="contact">
                  Senior Solutions Architect - AI/ML Speciality <br>
                  Business Development and Go-To-Market, AWS Telecom  <br>
                  <a href="https://aws.amazon.com/">Amazon Web Services Inc.</a>, Atlanta, Georgia <br>
                  Previous: <a href="http://www.capgemini.com//">Capgemini Inc.</a> , <a href="http://www.cyient.com//">Cyient Inc.</a> & <a href="http://www.pwc.ca/">Pratt & Whitney Canada</a> <br>
                  <br>
                  Email: <a href="mailto:subhash.talluri@outlook.com">subhash.talluri@hotmail.com</a> <br>
                  GitHub: <a href="https://github.com/subhashtalluri">subhashtalluri</a> <br>
                  <a href="https://www.linkedin.com/in/subhashtalluri/">LinkedIn</a> <br>
                </div>
              </div>
                    
              
              <div class="homecontent">
                <b><span style="color:brown"><font size="4">Brief Bio</font></span></b> <br>
                I lead the technical AI/ML domain of the telecom industry business unit at Amazon Web Services. I help build scalable, secure, and compliant AI/ML solutions via cloud-optimized architectures on AWS. I help customers design and develop machine learning solutions that leverage the AI/ML stack on AWS via POCs and MVPs, evangelize AWS AI design patterns and best practices for the telecom industry and provides technical subject matter expertise to the business development team in the development of market penetration strategies to enable broad use of AWS within enterprise customers. 
                <br>
                <br>
                <b><span style="color:brown"><font size="4">Career Aspiration</font></span></b> <br>
                Over a career spanning 12+ years, I had the opportunity to work with customers, system integrators and cloud providers. In my experience, integrating data science into business is challenging. Most organizations are unable to move past the 'proof-of-concept' phase and there is clearly a lack of data scientists in the decision-making authority to steer the companies in the right direction. I choose to fill this gap using my cross functional expertise at the intersection of engineering, computer science, machine learning and business to provide quality and scalable solutions. 
                <br>
                <br>
                  
                <b><span style="color:brown"><font size="4">Profile At-A-Glance</font></span></b> <br>
                Over a 5 year career in data science, I developed myself into full stack data scientist handling various elements of data engineering, data visualization, machine learning & operations, big data and cloud computing. I aimed to be a specilist in two of these areas (machine learning, cloud computing) and a generalist in the other three. This allowed me to handle the complete data lifecycle and help build production grade systems. From identifying the right problem, translating the problem in terms of data, getting the data, building the pipelines, analysing data, building models, presenting findings, putting models in production and maintaining them, I aspire to handle it all. 
                <br>
                <br>  
                I'm currently pursuing MBA from <a href="https://giesbusiness.illinois.edu/">University of Illinois - Gies College of Business</a> in global strategy. I hold a master of science degree (MS) in computer science from <a href="http://illinois.edu/">University of Illinois Urbana Champaign</a> and a master of engineering (M Eng) degree in aerospace science from <a href="http://www.utias.utoronto.ca/">University of Toronto Institute for Aerospace Studies.</a> Before graduate studies I completed bachelor's in mechanical engineering from JNT University, India. <br><br>  
                
                In the past I have worked with <a href="http://www.pwc.ca/">Pratt & Whitney Canada</a> as a materials & structures specialist for turbine engines involved in design, stress analysis, thermal analysis, dynamic analysis, impact analysis, fracture mechanics, fatigue life evaluation, MRB activities, structural testing & root cause investigations. I have a solid understanding of product lifecycle management in a manufacturing setting from cradle to grave. 
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
